/* Estilos Gerais */

html {
	scroll-behavior: smooth;
	/* Deixar o scroll ser realizado de uma maneira suave quando clicado em algum link do menu */
}

body {
	font-family: Arial, Helvetica, sans-serif;
	/* Definição da fonte a ser utilizada no projeto */
}

p {
	font-family: Georgia, "Times New Roman", serif;
	/* Definição da fonte a ser utilizada nos parágrafos */
	font-size: 1rem;
	/*Tamanho da fonte */
	line-height: 26px;
	/* Espaçamento entre as linhas */
}

img {
	display: block;
	/* Deixa a imagem num formato de bloco que significa que ela vai ocupar toda a largura dela mesma */
	max-width: 100%;
	/* Largura máxima da imagem definida para ser 100% do tamanho dela */
}

/* Header */

.header {
	position: fixed;
	top: 0;
	width: 100%;
	background: black;
	z-index: 10;
}

.header_menu {
	text-align: right;
}

.header_menu ul li {
	display: inline-block;
	margin-left: 25px;
	margin-top: 25px;
}

.header_menu ul li a {
	color: white;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: .1em;
	font-size: 14px;
	line-height: 20px;
	padding: 10px 0;
	transition: 0.3s ease;
	/* Transição para quando passa o mouse em cima do menu */
}

.header_menu ul li a:hover {
	color: rgb(12, 104, 209);
}

.btn {
	border: 2px solid #0f0;
	/* Borda do botão tem 2px e nessa cor que será modificada no filter*/
	padding: 10px 30px;
	/*Espaçamento interno de 10px cima e baixo e 30px esquerda e direita */
	background-color: #000;
	/* Cor do botão */
	color: white;
	/* Cor do nome do botão */
	font-size: 1rem;
	/* tamanho da fonte do botão */
	text-transform: uppercase;
	/* Transforma todo o texto em maiúsculo */
	font-weight: bold;
	/* negrito */
	letter-spacing: .1em;
	/* Espaçamento entre as letras */
	transition: 0.2s;
	filter: hue-rotate(80deg);
	/* Aplicando um filtro na cor do botão */
	transition-delay: 0s;
	/* Tempo de transição */
}

.btn:hover {
	/* Cor do botão quando passa o mouse por cima */
	transition-delay: 0.7s;
	/* Tempo de transição do efeito após hover */
	color: white;
	/* Cor da letra do botão após o tempo de transição */
	box-shadow: 0 0 10px #0f0,
		/* Tamanhos e a cor da sombra do botão após transição */
		0 0 20px #0f0,
		0 0 40px #0f0,
		0 0 80px #0f0,
		0 0 160px #0f0;
}

.btn span {
	position: relative;
	z-index: 100;
	/* Deixar sempre aparente o que está escrito no botão */
}

.btn::before {
	content: '';
	position: absolute;
	left: -20px;
	top: 50%;
	transform: translateY(-50%);
	width: 20px;
	height: 2px;
	background: #0f0;
	box-shadow: 5px -8px 0 #0f0,
		5px 8px 0 #0f0;
	transition: width 0.2s, left 0.2s, height 0.2s, box-shadow 0.2s;
	transition-delay: 0.4s, 0.2s, 0s, 0s;
}

.btn:hover::before {
	width: 60%;
	height: 100%;
	left: -2px;
	box-shadow: 5px 0px 0 #0f0,
		5px 0px 0 #0f0;
	transition-delay: 0s, 0.2s, 0.4s, 0.4s;
}

.btn::after {
	content: '';
	position: absolute;
	right: -20px;
	top: 50%;
	transform: translateY(-50%);
	width: 20px;
	height: 2px;
	background: #0f0;
	box-shadow: -5px -8px 0 #0f0,
		-5px 8px 0 #0f0;
	transition: width 0.2s, left 0.2s, height 0.2s, box-shadow 0.2s;
	transition-delay: 0.4s, 0.2s, 0s, 0s;
}

.btn:hover::after {
	width: 60%;
	height: 100%;
	right: -2px;
	box-shadow: -5px 0px 0 #0f0,
		-5px 0px 0 #0f0;
	transition-delay: 0s, 0.2s, 0.4s, 0.4s;
}

.subtitulo {
	font-size: 24px;
	/* Tamanho da fonte do subtitulo */
	line-height: 30px;
	/* Espaçamento entre as linhas do subtitulo */
	font-weight: bold;
	/* Peso da fonte em negrito */
	color: #000;
	/* Cor */
	text-transform: uppercase;
	/* Transformando tudo em maiúsculo */
	text-align: center;
	/* Alinhando o subtítulo ao centro */
	margin: 40px auto 40px auto;
	/* Espaçamento entre o Subtítulo e o conteúdo abaixo dele */
}

.subtitulo:after {
	/* Código para criar a linha abaixo do subítulo */
	content: "";
	display: block;
	/* Display block faz com que o elemento inicie na próxima linha */
	width: 200px;
	/* Largura da linha */
	height: 3px;
	/* Altura da linha */
	background: #000;
	/*Cor da linha */
	margin: 8px auto;
	/* Espaçamento de 8 px cima e baixo e utilizada propriedade auto para que os espaçamentos da esquerda e direita sejam feitos de forma automática para que a linha fique no centro da tela */
}

/* Banner Principal */

.banner {
	width: 100%;
	/* Largura da imagem do banner em 100% da tela */
	height: 360px;
	/* Altura do banner */
	background: url("../img/bg-image3.png") no-repeat center;
	/* Imagem do banner, definindo que ela não pode se repetir, pois quando pede pra ela ocupar toda a tela, ela se repeta por padrão pra que isso aconteça e centralizada na tela com center */
	background-size: cover;
	/* Cobrir toda a tela, pois sem essa propriedade ela se estica em 100% do tamanho dela apenas e não da tela*/
	margin-top: 70px;
	/* Distãncia dela para o que está acima */
	text-align: center;
	/* Texto do banner centralizado */
	padding-top: 80px;
	/* Espaçamento inteiro do conteúdo do banner em relação ao topo */
}

.banner h1 {
	font-size: 48px;
	/* Tamanho da fonte do título */
	color: #FFF;
	/* Cor branca */
	font-weight: bold;
	/* Negrito */
	text-transform: uppercase;
	/* Tudo em maiúsculo */
}

/* Citação - banner inferior */

.quote-externo {
	color: white;
	/* Cor da citação */
}

.quote-externo p {
	font-style: italic;
	/* Frase da citação em itálico */
}

.quote-externo p:before,
.quote-externo p:after {
	/* Linhas antes da citação e após */
	content: "";
	display: block;
	/* Para começar em novas linhas */
	width: 60px;
	/* Largura da linha */
	height: 3px;
	/* Altura da linha */
	background: #fff;
	/* Cor da linha */
	margin: 14px auto 10px auto;
	/* Margem cima, direita, baixo e esquerda */
}

.quote-externo cite {
	font-style: normal;
	/* Tirando o itálico da nome do autor da citação */
	font-weight: bold;
	/* Deixando o nome em negrito */
	font-size: 14px;
	/* Tamanho da fonte */
	letter-spacing: .1em;
	/* Espaçamento entre as letras */
}

/* Dados dos ataques */

.dados {
	padding: 40px 0;
	/* Espaçamento interno cima, baixo e esquerda e direita */
}

.dados_lista li {
	background: rgb(230, 226, 226);
	/* Cor de fundo das caixas */
	border-radius: 10px;
	text-align: center;
	/* Texto alinhado ao centro */
}

.dados_lista li img {
	/* Imagem refente aos dados */
	margin: 0 auto;
	/* Imagens alinhadas ao centro das caixas */
}

.dados_lista li h3 {
	font-weight: bold;
	/* Título em negrito */
	font-size: 1rem;
	/* Tamanho da fonte */
	line-height: 25px;
	/* Título em maiúsculo */
	margin-top: 20px;
	/* Espaçamento do topo */
}

.dados_lista li h3:after {
	/* Criação da linha em baixo do título */
	content: "";
	display: block;
	width: 60px;
	height: 3px;
	background: #000;
	margin: 2px auto;
}

.dados_lista li p {
	padding: 10px 20px 20px 20px;
	/* Espaçamento interno dos parágrafos */
}

.dados_icone {
	background: #000;
	/* Cor de fundo da imagem das caixas */
	padding: 20px;
	/* Espaçamento interno dela em relação as caixas */
}

.titulo-dados {
	color: white;
	font-size: 1rem;
}

section.phishing {
	margin-bottom: 60px;
}

section.phishing p {
	line-height: 25px;
}

section#contato {
	margin-bottom: 60px;
}

.container-flex {
	display: flex;
	gap: 40px;
}

.paragrafo-imagem {
	max-width: 500px;
}

.container-imagem {
	min-width: 400px;
}

.texto-abaixo-imagem {
	margin: 40px auto;
}

.texto-vazamento {
	margin-top: 40px;
}

.titulo-contato {
	color: rgb(0, 0, 0);
	line-height: 0px;
}

.titulo-contato:after {
	width: 0;
}

.contatos {
	width: 100%;
	/* Container ocupando 100% da tela */
	height: 220px;
	/* Altura do container */
	background: url("../img/facens.png") no-repeat center;
	/* Colocando essa imagem no container, dizendo pra ela não se repetir dentro dele e ficando centralizada */
	background-size: cover;
	/* Falando pra ela cobrir 100% dele */
	text-align: center;
	/* Alinhando o texto dentro dela para ficar centralizado na tela */
	padding-top: 40px;
	/* Espaçamento interno */
}

.contatos .contatos-fotos {
	max-width: 400px;
	/* Definindo um tamanho máximo que a citação pode ocupar */
}

/* INÍCIO PARTE CHARLES */

.imagem-perfil {
	margin: 5pt;
	width: 80pt;
	border-radius: 50%;
	border: 2px solid;
	border-color: #888;
}

.nome {
	color: #222;
	font-size: 20px;
	font-weight: bold;
	line-height: 2;
}

/* Sobre nós */

.sobreGeral {
	width: 100%;
	margin: 0 auto;
	padding: 60px 0;
	background: url("../img/facens.png") no-repeat center;
	background-size: cover;
}

.sobre01 {
	background-color: #eeeeeedd;
	border-radius: 80px;
	display: flex;
	flex-direction: row;
	color: #444;
}

#imagem{
	display: flex;
	align-items: center;
}

#conteúdo01 {
	margin: 2px;
	padding: 2px;
	border: 2px;
}

.sobre02 {
	background-color: #eeeeeedd;
	border-radius: 80px;
	padding: 0;
	margin: 10pt;
	text-align: right;
	display: flex;
	flex-direction: row-reverse;
	color: #444;
}

.socialMedia {
	display: flex;
}

.socialMedia a {
	margin-right: 20px;
}

#assinatura {
	width: 100%;
	background-color: #222;
	color: #888;
}

/*Footer*/

.copy {
	width: 100%;
	/* Tamanho do container com 100% de largura da tela */
	background: black;
	/* Cor */
	padding: 20px 0;
	/* Espaçamento interno */
}

.paragrafo-copy {
	color: white;
}

/* JavaScript para que as páginas sejam carregadas de forma suave, com as animações vindo de cima */

.js [data-anime] {
	/* Todos os elementos com a propriedade data-anime vão ter opacidade 0 de início, depois de escolher para onde vão ser animados, mudo para 1 na opacidade */
	opacity: 0;
}

.js .fadeInDown {
	transform: translate3d(0px, -20px, 0);
	/* Direção que o texto animado vai translacionar. Assim ele está vindo de cima para baixo em 20 px por conta de estar no eixo y -20px */
}

.js .anime {
	/* Quando o anime acontecer */
	opacity: 1;
	/* Vai ser mostrado na tela */
	transform: none;
	/* */
	transition: opacity 800ms, transform 800ms;
	/* tempo que vai demorar para que o texto a ser animado seja completamente exposto na tela */
}