* {
    margin: 0;
    padding: 0;   
}

html,body {    
    font: 16px "Lato", sans-serif;
    color: #777;
    height: 100%;
}
p {
    text-align: left;
    margin-bottom: 20px;
}

h3 {
    color: #111;
    text-transform: uppercase;
    text-align: center;
}
.header{    
    position: fixed;
    width: 100%;
	background: black;		
    z-index: 1;
}

.footer {
    height: 30px;
    font: 16px "Lato", sans-serif;
    clear: both;
    padding-top: 15px;
    text-align: center;
    line-height: 10px;
    color: white;
    background-color: rgb(30, 30, 30);
    border: 3px solid black;
}
.caixa1,.caixa2,.caixa3,.caixa4,.caixa5,.caixa6 {
    height: 100%;
    opacity: 0.7;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.caixa1 {
    background-image: url(/assets/imagens/imagem1.jpg);    
}
.caixa2 {
    background-image: url(/assets/imagens/Imagem2.png);
}
.caixa3 {
    background-image: url(/assets/imagens/imagem3.jpg);
}
.caixa4 {
    background-image: url(/assets/imagens/imagem4.jpg);
}
.caixa5 {
    background-image: url(/assets/imagens/Imagem5.png);
}
.caixa6 {
    background-image: url(/assets/imagens/imagem6.png);
}
.container-cabecalho{  
    position: fixed;  
    margin-left: 482px;  
    padding-top: 10px;       
	width: 100%;
    height: 85px;	
	position: relative;    
}
.logo-cabecalho{
    width: 200px;
    position:absolute;    
}

/*############################################################  começo conteúdo  ############################################################*/
.conteudo-titulo {
    position: absolute;
    left: 0;
    top: 45%;
    width: 100%;
    text-align: center;
    justify-content: center;
    display: flex;  
}
.conteudo-titulo span.titulo {
    color: white;
    background-color: #777;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 5px;
}
.conteudo {
    color: #777;
    background-color: white;
    text-align: justify;
    padding: 50px 80px;
}
/*############################################################  final conteúdo  ############################################################*/

/*---------------------------------------------------------------------------------------------------------------------------------------------*/

/*############################################################  começo citação  ############################################################*/
.citacao-conteiner{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 987px;
    height: 151px;        
    top: 543px;
    background: #EEEEEE;
    border-radius: 100px;        
}
.citacao-foto1, .citacao-foto2, .citacao-foto3, .citacao-foto4, .citacao-foto5{
    position: relative;
    top:10px;
    left: 15px;
    width: 140px;
    height: 130px;
    background-size: cover;    
    border-radius: 50%;   
}

.citacao-foto1{   
    background-image: url(/assets/imagens/yorck-reuber.png);       
}
.citacao-foto2{   
    background-image: url(/assets/imagens/bruce-schneier.jpg);       
}
.citacao-foto3{
     background-image: url(/assets/imagens/chuck-everette.jpg); 
}
.citacao-foto4{
    background-image: url(/assets/imagens/johan-gerber.jpg);
}
.citacao-foto5{
    background-image: url(/assets/imagens/sthepane-nappo.png); 
}  

.citacao-descricao{
    position: absolute;  
    width: 700px; 
    top: 22px;     
    left: 200px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;    
    text-align: center;
    color: black;    
}
/*############################################################  final citação  ############################################################*/

/*---------------------------------------------------------------------------------------------------------------------------------------------*/

/*############################################################  começo integrantes  ############################################################*/

/*---------------------------------------------------------------------------------------------------------------------------------------------*/

/*------------------------------------------------ começo conteiner integrantes ------------------------------------------------*/
.conteiner-integrantes{
    position: relative; 
    width: 100%;
    height: 1050px;
    background-image: url(/assets/imagens/facens.jpg);
}
.conteiner-integrantes1, .conteiner-integrantes2, .conteiner-integrantes3, .conteiner-integrantes4, .conteiner-integrantes5{
    position: relative;  
    opacity: 0.8;        
    width: 40%;
    height: 151px;                 
    background: white;
    border-radius: 100px;   
} 
.conteiner-integrantes1{
    float: left;  
    top: 30px;
    left: 10px;         
} 
.conteiner-integrantes2{
    float:right; 
    top: 180px;   
    right: 10px;       
} 
.conteiner-integrantes3{
    float: left;  
    top: 230px;
    left: 10px;     
} 
.conteiner-integrantes4{
    float:right; 
    top: 380px;   
    right: 10px;    
} 
.conteiner-integrantes5{
    float: left;  
    top: 430px;
    left: 10px;     
} 
/*------------------------------------------------ final conteiner integrantes ------------------------------------------------*/

/*---------------------------------------------------------------------------------------------------------------------------------------------*/

/*------------------------------------------------ comeco integrantes fotos ------------------------------------------------*/
.integrantes-foto1, .integrantes-foto2, .integrantes-foto3, .integrantes-foto4, .integrantes-foto5{
    position: relative;
    top:10px;
    left: 10px;
    width: 140px;
    height: 130px;
    background-size: cover;    
    border-radius: 50%;   
}
.integrantes-foto1{   
    background-image: url(/assets/imagens/charles.jpg);       
}
.integrantes-foto2{       
    background-image: url(/assets/imagens/gelson.jpg);       
}
.integrantes-foto3{   
    background-image: url(/assets/imagens/leo.jpg);       
}
.integrantes-foto4{   
    background-image: url(/assets/imagens/lucca.jpg);       
}
.integrantes-foto5{   
    background-image: url(/assets/imagens/renan.png);   

}
/*------------------------------------------------ final integrantes fotos ------------------------------------------------*/

/*---------------------------------------------------------------------------------------------------------------------------------------------*/

/*------------------------------------------------ comeco integrantes descricao ------------------------------------------------*/
.integrantes-descricao{
    position: absolute;  
    width: 700px; 
    top: 15px;     
    left: 150px;
    font: 24px "Lato", sans-serif;   
    text-align: left;
    color: black;   
}
/*------------------------------------------------ final integrantes descricao ------------------------------------------------*/

/*---------------------------------------------------------------------------------------------------------------------------------------------*/


/*------------------------------------------------ comeco integrantes social medias ------------------------------------------------*/
.socialmedias{
      
}
/*------------------------------------------------ final integrantes social medias ------------------------------------------------*/

/*############################################################  final integrantes  ############################################################*/

@media (max-width: 800px) {
    .caixa6 {
        background-image: url(/assets/imagens/imagem7.png);
    }
}